pylog124M/
experiments/
images/
notebooks/
**/*.ipynb
train_gpt2_prev.py
train_gpt2_orig.py
__pycache__/
data/**/*.bin
ckpts/
tensorboard_runs/
old_runs/
run_logs/
.nfs*
*.txt
*.pkl
*.tex
*.pt.DS_Store
